
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

body{
    background-color: #000;
    position: relative;
    height: 100%;
    
}
.sign-in-logo{
    color:#a97703;
    font-family: Montserrat;
    font-size: 2em;
    
}
a{
    text-decoration: none;
}
footer{
    font-size: 1em;
    color:#fff;
    background-color: #a97703;
    padding: 0px 0 5px 0;
    height: 25px;
    font-size: 0.75em;
    margin-top: 3em;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.form-control:focus{
    box-shadow: none;
}
i {
    
    position: absolute;
    margin-left: 100px;
    top: 25px;
    cursor: pointer;

}

.help-section1{
    font-family: 'Raleway', sans-serif;
    margin-bottom: 2em;
}

.navigation{
    background-color: rgb(53, 32, 32);
}


*,body,p h1,h1,h3,h4,h5,h6, a, div{
    font-family: "Montserrat" !important;
}
.active{
   
    border-bottom: 1px solid #fff;
}
.admin-header li{
  

}
.admin-header li:hover{
    background: #000;

}