body{
    background-color: #000;
}
.navigation{
    background-color: rgb(53, 32, 32);
}
.link:hover{
    border: 1px solid #ee5047;
    
    border-radius: 30px;
    transition: 0.5s;
}
.table{
    overflow: auto ;
    
}

.table-container {
   
   overflow: auto;
}