


.dashboard-section1 .container  ul li a {
    font-family: 'Roboto Slab', serif;
    font-size: 1.25em;  
     

}

.nav-bar-navbar-brand{
    font-size: 2em;
    font-weight: bolder;
}

.navbar-light .navbar-nav .nav-link:active{
    color: #ee5047;
       
}
.dashboard-section1{
    margin-bottom: 2em;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
    padding: 0.75em 0.75em 0.25em 0.75em;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #198fff;
}



.dropdown-item{
    font-weight: lighter;
    color: #777;
    
}
.dropdown-item{
    font-weight: lighter;
    color: #777;
    
}



