
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

body{
    background-color: #000;
}
.sign-in-logo{
    color:#a97703;
    font-family: Montserrat;
    font-size: 2em;
    
}
a{
    text-decoration: none;
}
footer{
    font-size: 1em;
    color:#fff;
    background-color: #a97703;
    padding: 0 0 5px 0;
    height: 25px;
    font-size: 0.75em;
    margin-top: 3em;
}
.form-control:focus{
    box-shadow: none;
}
i {
    
    position: absolute;
    margin-left: 100px;
    top: 25px;
    cursor: pointer;

}

.help-section1{
    font-family: 'Raleway', sans-serif;
    margin-bottom: 2em;
}

.navigation{
    background-color: rgb(53, 32, 32);
}
.link:hover{
    border: 1px solid #a97703;
    
    border-radius: 30px;
    transition: 0.5s;
}

*,body,p h1,h1,h3,h4,h5,h6, a, div{
    font-family: "Montserrat" !important;
}