body{
    background-color: #000;
}
.navigation{
    background-color: rgb(53, 32, 32);
}
.link:hover{
    border: 1px solid #a97703;
    
    border-radius: 30px;
    transition: 0.5s;
}
.table{
    overflow: auto ;
    
}

.table-container {
   
   overflow: auto;
}


.price-per-watt {
    font-size: 10rem;
    color: #fff;
    font-family: cursive;
    padding: 10px;
    
  
   
  }
  
.change-price-btn {
    background-color: #a97703 !important;
  
   
  }
  
.change-price-btn:hover {
    background-color: #b2810e !important;
    outline: 1px xolid #fff;
  
   
  }
  
 
  .glow{
  
      box-sizing: border-box;
      width: auto;
      
      margin-right: 0px;
      
      
  }
  .glow-container{
      
  }
  .change-price-btn{
     
      text-align: right;
      
  }