.sign-in-logo{
    color:#198fff;
    font-family: 'Orelega One', cursive;
    font-size: 4em;
    
}
a{
    text-decoration: none;
}
.forgot-password-box{
    padding: 50px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
    max-width:500px;
    min-height: 550px;
    margin: 0 auto;
    
}
.forgot-password-box h2{
    font-size: 1.1em;
    margin-bottom: 30px ;
}
.forgot-password-box h3{
    font-size: 0.9em;
    text-align: left;
}
.forgot-password-box ul{
    margin: 0;
    text-align: left;
    font-weight: lighter;
}
.forgot-password-box ul{
    margin: 0;
    padding-left: 15px;
    text-align: left;
}


.input{
    border: 0;
    outline: 0;
    margin: 0 auto; 
    border-radius: 0;
    
    border-bottom: 1px solid #677294 ;
}
.submit-btn{
    width: 100%;
    border-radius: 1.17647rem;
    font-size: 1em;
    margin: 1em 0;
}
.form-control:focus{
    box-shadow: none;
}
