@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');


.container2{
    margin-bottom: 3em;
    padding: 10px 0;
    padding-bottom: 20px;
    margin-bottom: 1.5em;
    border-bottom: 1px solid lightgrey;
}

.dashboard-section2 .container2 h1{
    font-size: 4em;
    
    font-family: 'Montserrat';
   ;
}
.container3 .col-sm-4 h4, .container3 .col-sm-4 p small{
    font-weight: bolder;
}

.container4 .col-sm-4 div{
    
    border-top: 1px solid lightgrey;
    font-family: 'Montserrat';
}
.container4 .col-sm-4 div a:hover{
    color: #ee5047;
}

.container3 .col-sm-4 div{
    font-family: 'Montserrat';
    }
 

    .trans a:hover{
        border-bottom: 1px solid #1c62ac !important;
        transition: 0.1s;

    }