
.profile{
    
}
.profile-picture {
    border-radius: 50%;
    height: 200px;
    
    /* margin-left: 80px; */
    margin-bottom: 10px;
}
.profile-picture img{
    box-sizing: unset;
}
.img-box{
    margin: 0 auto;
    text-align: center;
}
.my-profile-details{
    
}
.picture{
    box-sizing: inherit;
}
.container-for-image{
    max-width: fit-content;
}
.img-box{
margin: 0 auto;
}
.content{
    margin-top: -80px;

}