@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

body{
    font-family: Montserrat;
}

.form-control, .form-select{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #a97703;
    border-radius: 0;
    font-size: 1em;
}
.sign-up-box{
    width: auto;
    max-width: 500px;
    padding: 30px 50px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);   
    margin: 0 auto;
    font-size: 0.75em;
}

.container-sign-up h1{

    color: #1c62ac;
    font-weight: bolder;

}
.container-sign-up h3{
    font-size: 1.2em;
    color: #677294
}
.form-check-label, .state{
    float: left;
   
}
.form-control:focus{
    box-shadow: none;
}
i {
    
    position: absolute;
    margin-left: 100px;
    top: 25px;
    cursor: pointer;

}
 .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;
}

 .logo ion-icon {
    color: #a97703;
}

 .logo h2 {
    color: #1c62ac;
    font-weight: bolder;
}

.help{
    color: #1c62ac;
}

.signup-submit-btn{
    background-color: #1c62ac;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    color: #fff;
}
.terms-and-condition{
    color: #1c62ac;
}